!pip install selenium

In [1]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

import warnings
warnings.filterwarnings('ignore')

import pandas as pd

In [2]:
# downloading the webdriver from link:
# https://chromedriver.chromium.org//downloads

In [3]:
driver=webdriver.Chrome(r"C:\Users\Hp\Desktop\data trained\chromedriver_win32\chromedriver.exe")

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
#entering data analyst in designation by using CLASS_NAME
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys("Data Analyst")

In [6]:
#entering banglore in location field by using XPATH as it is showing class name suggestor-input
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [7]:
# click the search button
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [9]:
#scrapping job_title

job_title=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
print(job_title)
print(len(job_title))

['Senior Data Analyst', 'Sr. Data Analyst', 'Master Data Management Business Analyst', 'Senior Data Analyst', 'Intern Data Analyst', 'Data Analyst - Python/Artificial Intelligence', 'Data Analyst', 'Data Analyst', 'Leap COE Intern(Data Analyst)', 'Forecasting Analyst/ Data Scientist (US Client)']
10

In [10]:
#scrapping job location

job_location=[]
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
print(job_location)
print(len(job_location))

['Bangalore/Bengaluru(Old Madras Road)', 'Bangalore/Bengaluru, Pune', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru', 'Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH during Covid)']
10

In [11]:
#scrapping exp, span added for more accuracy as it not showing correct details

experience=[]
exp=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in exp[0:10]:
    experience.append(i.text)
print(experience)
print(len(experience))

['3-6 Yrs', '6-11 Yrs', '6-8 Yrs', '5-7 Yrs', '0-1 Yrs', '0-2 Yrs', '0-2 Yrs', '2-5 Yrs', '0-1 Yrs', '3-8 Yrs']
10

In [12]:
# scrapping comapny name

company_name=[]
company=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company[0:10]:
    company_name.append(i.text)
print(company_name)
print(len(company_name))

['KrazyBee', 'Global Indian School Education Services', 'Accenture', 'Optum', 'FullStackTechies', 'iMindYourBusiness', 'Bright Money', 'Bayer', 'Info Origin Inc.', 'Concentrix']
10

In [13]:
print(len(job_title), len(company_name), len(experience), len(job_location))

10 10 10 10

In [14]:
df=pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company Name':company_name})
df

,Job Title,Job Location,Company Name
0,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee
1,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services
2,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture
3,Senior Data Analyst,Bangalore/Bengaluru,Optum
4,Intern Data Analyst,Bangalore/Bengaluru,FullStackTechies
5,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",iMindYourBusiness
6,Data Analyst,Bangalore/Bengaluru,Bright Money
7,Data Analyst,Bangalore/Bengaluru,Bayer
8,Leap COE Intern(Data Analyst),Bangalore/Bengaluru,Info Origin Inc.
9,Forecasting Analyst/ Data Scientist (US Client),"Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH du...",Concentrix

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [15]:
driver.get('https://www.naukri.com/')

In [16]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

In [17]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [18]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [19]:
job_title=[]
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
    
print(job_title)
print(len(job_title))

['Tcs Hiring For Data Scientist', 'Senior Manager - EmTech - Machine Learning - P&T', 'Assistant Manager - Data Science', 'Analystics & Modeling Specialist', 'Data scientist _Tata Consultancy Services(Tcs)', 'Job||Job Opening For AI Technologist - Data Scientist at Wipro Holmes', 'Hiring For DATA Scientist @ NTT DATA Business Solution India', 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes', 'Data Scientist Python', 'Data Scientist']
10

In [20]:
job_location=[]
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
    
print(job_location)
print(len(job_location))

['Bangalore/Bengaluru, Chennai, Mumbai (All Areas)', 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad', 'Bangalore/Bengaluru, Mumbai, Pune', 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, delhi ncr', 'Bangalore/Bengaluru, Kochi/Cochin, Indore, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Mumbai (All Areas)', 'Bangalore/Bengaluru, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Coimbatore, Cochin, Mumbai', 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)', 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad', 'Bangalore/Bengaluru, Hyderabad/Secunderabad', 'Bangalore/Bengaluru']
10

In [21]:
company_name=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
    
print(company_name)
print(len(company_name))

['TATA CONSULTANCY SERVICES (TCS)', 'PwC', 'CitiusTech', 'Accenture', 'TATA CONSULTANCY SERVICES (TCS)', 'Wipro', 'NTT DATA Business Solutions Private Limited', 'Wipro', 'Conduent', 'Concentrix']
10

In [22]:
df=pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company Name':company_name})
df

,Job Title,Job Location,Company Name
0,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
1,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
2,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
5,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Data Scientist Python,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Conduent
9,Data Scientist,Bangalore/Bengaluru,Concentrix

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [23]:
driver.get(' https://www.naukri.com/')

In [24]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')

In [25]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [27]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/p/span[1]')
location.click()

In [28]:
salary=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [29]:
job_title=[]
job_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in job_tags[0:10]:
    job_title.append(i.text)
print(job_title)
print(len(job_title))

['Job||Job Opening For AI Technologist - Data Scientist at Wipro Holmes', 'Data Scientist - Noida/Bangalore', 'DigitalBCG GAMMA Data Scientist', 'Data Scientist - Predictive Analytics', 'Data Scientist', 'Chat-bot Developer / Data Scientist', 'Data Scientist / Chat-bot Developer', 'Data Scientist - Engine Algorithm', 'Data Scientist For Healthcare Product team', 'Data Scientist']
10

In [30]:
job_location=[]
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
print(job_location)
print(len(job_location))

['New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Coimbatore, Cochin, Mumbai', 'Noida, Bangalore/Bengaluru', 'New Delhi, Bangalore/Bengaluru', 'Noida, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Coimbatore, Bangalore/Bengaluru', 'Gurgaon/Gurugram', 'Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH during Covid)', 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)', 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru', 'Delhi / NCR, Chennai, Bangalore/Bengaluru', 'Noida, Gurgaon/Gurugram, Jaipur']
10

In [31]:
company_name=[]
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
print(company_name)
print(len(company_name))

['Wipro', 'EXL', 'Boston Consulting Group', 'Confidential', 'Optum', 'Big Seo Buzz', 'Big Seo Buzz', 'Primo Hiring', 'SECUREKLOUD TECHNOLOGIES', 'Celebal Technologies']
10

In [32]:
exp=[]
exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    exp.append(i.text)
print(exp)
print(len(exp))

['5-10 Yrs', '5-10 Yrs', '2-5 Yrs', '1-6 Yrs', '2-7 Yrs', '2-7 Yrs', '3-7 Yrs', '1-3 Yrs', '2-7 Yrs', '1-5 Yrs']
10

In [33]:
df=pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company Name':company_name, 'Experience Required':exp})
df

,Job Title,Job Location,Company Name,Experience Required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
6,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Celebal Technologies,1-5 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.

In [49]:
driver.get('https://www.flipkart.com/')

In [50]:
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('sunglasses')

In [51]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [52]:
start=0
end=4
brand=[]

for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags[0:100]:
        brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
print(brand)
print(len(brand))

['Haute Sauce', 'Floyd', 'Fastrack', 'New Specs', 'Elligator', 'SUNBEE', 'NuVew', 'LANDSLIDE', 'SRPM', 'Fastrack', 'Fastrack', 'Tom Hardy', 'PHENOMENAL', 'DAHAAZIL', 'Fastrack', 'Tom Hardy', 'Fastrack', 'ROZZETTA CRAFT', 'Fastrack', 'Fair-x', 'Mi', 'New Specs', 'VINCENT CHASE', 'ROYAL SON', 'PIRASO', 'IZAAN MART', 'PIRASO', 'Tom Hardy', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'EYELLUSION', 'LOUIS KOUROS', 'PIRASO', 'LIZA ANGEL', 'GANSTA', 'ROYAL SON', 'kingsunglasses', 'CRYSTAL CART', 'ROYAL SON', 'Fair-x', 'ROYAL SON', 'SRPM', 'Lee Topper', 'Fair-x', 'PIRASO', 'Ray-Ban', 'AISLIN', 'ROYAL SON', 'kingsunglasses', 'VINCENT CHASE', 'kingsunglasses', 'ROYAL SON', 'Dannilo', 'VINCENT CHASE', 'AISLIN', 'LOUIS KOUROS', 'Fastrack', 'Lee Topper', 'ROYAL SON', 'ROYAL SON', 'PHENOMENAL', 'VINCENT CHASE', 'WROGN', 'ROYAL SON', 'Fastrack', 'Fastrack', 'Rich Club', 'VAST', 'SHAAH COLLECTIONS', 'Fastrack', 'PIRASO', 'ROYAL SON', 'Dannilo', 'Fastrack', 'Silver Kartz', 'ROYAL SON', 'ROYAL SON', 'GANSTA', 'SUNBEE', 'ROYAL SON', 'fashion stsyle', 'Fstyle', 'Fastrack', 'New Specs', 'Elligator', 'SUNBEE', 'NuVew', 'fashion stsyle', 'SRPM', 'Fastrack', 'Fastrack', 'Singco India', 'PHENOMENAL', 'DAHAAZIL', 'Fastrack', 'john jacobs', 'Fastrack', 'ROZZETTA CRAFT', 'Fastrack', 'hipe', 'Mi', 'New Specs', 'VINCENT CHASE', 'VINCENT CHASE', 'PIRASO', 'IZAAN MART', 'PIRASO', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'EYELLUSION', 'john jacobs', 'PIRASO', 'LIZA ANGEL', 'GANSTA', 'VINCENT CHASE', 'kingsunglasses', 'CRYSTAL CART', 'ROYAL SON', 'john jacobs', 'ROYAL SON', 'SRPM', 'Lee Topper', 'Haute Sauce', 'PIRASO', 'Ray-Ban', 'AISLIN', 'Floyd', 'kingsunglasses', 'VINCENT CHASE', 'kingsunglasses', 'LANDSLIDE', 'Dannilo', 'VINCENT CHASE', 'AISLIN', 'Tom Hardy', 'Fastrack', 'Lee Topper', 'ROYAL SON', 'Tom Hardy', 'PHENOMENAL', 'VINCENT CHASE', 'WROGN', 'Fair-x', 'Fastrack', 'Fastrack', 'Rich Club', 'ROYAL SON', 'SHAAH COLLECTIONS', 'Fastrack', 'PIRASO', 'Tom Hardy', 'Dannilo', 'Fastrack', 'Silver Kartz', 'LOUIS KOUROS', 'ROYAL SON', 'GANSTA', 'SUNBEE', 'ROYAL SON']
160

In [56]:
prod_description=[]
start=0
end=4
for page in range(start,end):
    prod_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
    for i in prod_tags[0:100]:
        prod_description.append(i.text.split('\n')[1])
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
print(prod_description)
print(len(prod_description))

['UV Protection Retro Square Sunglasses (55)', 'UV Protection, Night Vision, Riding Glasses Rectangular...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Round Sunglasses (54)', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'UV Protection Aviator Sunglasses (57)', 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Round Sunglasses (53)', 'UV Protection Retro Square Sunglasses (53)', 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Sports Sunglasses (100)', 'UV Protection Shield Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'Polarized Aviator Sunglasses (Free Size)', 'UV Protection Oval Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Rectangular Sungla...', 'Polarized, UV Protection Round Sunglasses (50)', 'UV Protection Rectangular Sunglasses (52)', 'UV Protection Rectangular Sunglasses (55)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection Round Sunglasses (54)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...', 'Riding Glasses, Riding Glasses, UV Protection Round Sun...', 'by Lenskart UV Protection Aviator Sunglasses (53)', 'UV Protection Aviator Sunglasses (54)', 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...', 'Gradient, UV Protection Aviator Sunglasses (57)', 'UV Protection Retro Square Sunglasses (52)', 'UV Protection Round Sunglasses (Free Size)', 'Polarized, UV Protection, Mirrored, Gradient Rectangula...', 'UV Protection, Gradient Butterfly Sunglasses (62)', 'Polarized, UV Protection Round Sunglasses (50)', 'Polarized Rectangular Sunglasses (60)', 'UV Protection Wayfarer Sunglasses (53)', 'Riding Glasses Wrap-around Sunglasses (Free Size)', 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Retro Square Sunglasses (48)', 'UV Protection, Gradient Butterfly, Retro Square Sunglas...', 'UV Protection Round Sunglasses (53)', 'UV Protection Rectangular Sunglasses (55)', 'Polarized, UV Protection Rectangular Sunglasses (59)', 'UV Protection, Mirrored Aviator Sunglasses (Free Size)', 'UV Protection Sports Sunglasses (100)', 'Others Spectacle Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Retro Square Sungl...', 'UV Protection, Gradient Retro Square Sunglasses (58)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'Polarized Retro Square Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Polarized, UV Protection Retro Square Sunglasses (61)', 'Polarized, UV Protection Round Sunglasses (50)', 'UV Protection, Mirrored Retro Square Sunglasses (53)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'Polarized Round Sunglasses (44)', 'UV Protection Round Sunglasses (54)', 'UV Protection Aviator Sunglasses (57)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Round Sunglasses (50)', 'by Lenskart UV Protection Aviator Sunglasses (53)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection Rectangular Sunglasses (56)', 'UV Protection Aviator Sunglasses (55)', 'UV Protection Retro Square Sunglasses (52)', 'Gradient, UV Protection Round Sunglasses (Free Size)', 'UV Protection Wrap-around Sunglasses (63)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Round Sunglasses (50)', 'Mirrored Aviator Sunglasses (55)', 'Night Vision, Riding Glasses Rectangular Sunglasses (60...', 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...', 'by Lenskart Polarized, UV Protection Round Sunglasses (...', 'UV Protection Retro Square Sunglasses (55)', 'UV Protection, Night Vision, Riding Glasses Rectangular...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Round Sunglasses (54)', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'UV Protection Aviator Sunglasses (57)', 'UV Protection, Riding Glasses, Mirrored Aviator Sunglas...', 'UV Protection Wayfarer Sunglasses (50)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...', 'UV Protection Retro Square Sunglasses (53)', 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...', 'UV Protection Wayfarer Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...', 'UV Protection Shield Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'by Lenskart Polarized, UV Protection Aviator Sunglasses...', 'Polarized Aviator Sunglasses (Free Size)', 'UV Protection Oval Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Rectangular Sungla...', 'UV Protection, Gradient Over-sized Sunglasses (59)', 'UV Protection Rectangular Sunglasses (52)', 'UV Protection Rectangular Sunglasses (55)', 'UV Protection Aviator Sunglasses (54)', 'by Lenskart Polarized, UV Protection Aviator Sunglasses...', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...', 'Riding Glasses, Riding Glasses, UV Protection Round Sun...', 'by Lenskart Polarized, UV Protection Round Sunglasses (...', 'UV Protection Aviator Sunglasses (54)', 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...', 'Gradient, UV Protection Aviator Sunglasses (57)', 'Polarized, UV Protection, Gradient Cat-eye Sunglasses (...', 'UV Protection Round Sunglasses (Free Size)', 'Polarized, UV Protection, Mirrored, Gradient Rectangula...', 'UV Protection, Gradient Butterfly Sunglasses (62)', 'Polarized, UV Protection Retro Square Sunglasses (45)', 'Polarized Rectangular Sunglasses (60)', 'UV Protection Wayfarer Sunglasses (53)', 'Riding Glasses Wrap-around Sunglasses (Free Size)', 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Retro Square Sunglasses (48)', 'UV Protection, Gradient Butterfly, Retro Square Sunglas...', 'UV Protection Round Sunglasses (53)', 'UV Protection Rectangular Sunglasses (55)', 'Polarized, UV Protection Rectangular Sunglasses (59)', 'UV Protection, Mirrored Aviator Sunglasses (Free Size)', 'UV Protection Sports Sunglasses (100)', 'Others Spectacle Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Retro Square Sungl...', 'UV Protection, Gradient Retro Square Sunglasses (58)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'Polarized Retro Square Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'Polarized, UV Protection Retro Square Sunglasses (61)', 'Polarized, UV Protection Round Sunglasses (50)', 'UV Protection, Mirrored Retro Square Sunglasses (53)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'Polarized Round Sunglasses (44)', 'UV Protection Round Sunglasses (54)', 'UV Protection Aviator Sunglasses (57)', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Round Sunglasses (50)', 'by Lenskart UV Protection Aviator Sunglasses (53)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection Rectangular Sunglasses (56)', 'UV Protection Aviator Sunglasses (55)', 'UV Protection Retro Square Sunglasses (52)', 'Gradient, UV Protection Round Sunglasses (Free Size)', 'UV Protection Wrap-around Sunglasses (63)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Round Sunglasses (50)', 'Mirrored Aviator Sunglasses (55)', 'Night Vision, Riding Glasses Rectangular Sunglasses (60...', 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...', 'by Lenskart Polarized, UV Protection Round Sunglasses (...']
160

In [57]:
price=[]
start=0
end=4
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]')
    for i in price_tags[0:100]:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(1)
print(price)
print(len(price))

['₹226₹69967% off\nFree delivery', '₹1,301₹8,00083% off\nFree delivery', '₹799₹99920% off', '₹264₹2,59989% off\nFree delivery', '₹298₹2,49588% off', '₹283₹1,29978% off', '₹198₹75073% off\nFree delivery', '₹1,415₹1,99929% off\nFree delivery', '₹189₹1,29985% off', '₹639₹79920% off\nFree delivery', '₹639₹79920% off\nFree delivery', '₹664₹1,99966% off\nFree delivery', '₹267₹99973% off\nFree delivery', '₹204₹99979% off\nFree delivery', '₹639₹79920% off\nFree delivery', '₹949₹1,99952% off\nFree delivery', '₹719₹89920% off\nFree delivery', '₹499₹2,22577% off\nFree delivery', '₹1,039₹1,29920% off\nFree delivery', '₹999₹1,99950% off\nFree delivery', '₹799₹1,19933% off\nFree delivery', '₹207₹99979% off\nFree delivery', '₹749₹1,99962% off\nFree delivery', '₹629₹99937% off\nFree delivery', '₹252₹2,59990% off\nFree delivery', '₹290₹1,99985% off\nFree delivery', '₹279₹1,59982% off\nFree delivery', '₹629₹99937% off\nFree delivery', '₹399₹1,99980% off\nFree delivery', '₹499₹1,99975% off\nFree delivery', '₹199₹99980% off\nFree delivery', '₹629₹99937% off\nFree delivery', '₹279₹1,59982% off\nFree delivery', '₹199₹99980% off\nFree delivery', '₹349₹1,99982% off\nFree delivery', '₹629₹99937% off\nFree delivery', '₹329₹1,59979% off\nFree delivery', '₹529₹2,09974% off\nFree delivery', '₹664₹1,99966% off\nFree delivery', '₹699₹99930% off\nFree delivery', '₹664₹1,99966% off\nFree delivery', '₹235₹99876% off\nFree delivery', '₹299₹2,49988% off\nFree delivery', '₹278₹1,20076% off\nFree delivery', '₹359₹2,59986% off\nFree delivery', '₹3,890\nFree delivery', '₹498₹1,52567% off\nFree delivery', '₹236₹69966% off\nFree delivery', '₹189₹1,29985% off\nFree delivery', '₹949₹2,50062% off\nFree delivery', '₹269₹1,89985% off\nFree delivery', '₹3,325₹5,00033% off\nFree delivery', '₹170₹79978% off\nFree delivery', '₹949₹1,99952% off\nFree delivery', '₹498₹1,52567% off\nFree delivery', '₹179₹99982% off\nFree delivery', '₹639₹79920% off\nFree delivery', '₹219₹99978% off\nFree delivery', '₹664₹1,49955% off\nFree delivery', '₹949₹1,99952% off\nFree delivery', '₹369₹1,99981% off\nFree delivery', '₹949₹1,99952% off\nFree delivery', '₹599₹3,44982% off\nFree delivery', '₹2,500₹5,00050% off\nFree delivery', '₹639₹79920% off\nFree delivery', '₹1,169₹1,29910% off\nFree delivery', '₹399₹99960% off\nFree delivery', '₹1,229₹1,99938% off\nFree delivery', '₹195₹1,69988% off\nFree delivery', '₹679₹79915% off\nFree delivery', '₹279₹1,59982% off\nFree delivery', '₹2,375₹6,00060% off\nFree delivery', '₹230₹99976% off\nFree delivery', '₹710₹89921% off\nFree delivery', '₹288₹1,49980% off\nFree delivery', '₹3,500₹4,50022% off\nFree delivery', '₹379₹1,49974% off\nFree delivery', '₹269₹1,29979% off\nFree delivery', '₹324₹1,69980% off\nFree delivery', '₹664₹1,99966% off\nFree delivery', '₹226₹69967% off\nFree delivery', '₹203₹1,20083% off', '₹799₹99920% off', '₹264₹2,59989% off\nFree delivery', '₹298₹2,49588% off', '₹283₹1,29978% off', '₹198₹75073% off\nFree delivery', '₹1,301₹2,60049% off\nFree delivery', '₹189₹1,29985% off', '₹639₹79920% off\nFree delivery', '₹639₹79920% off\nFree delivery', '₹699₹2,55572% off\nFree delivery', '₹267₹99973% off\nFree delivery', '₹204₹99979% off\nFree delivery', '₹639₹79920% off\nFree delivery', '₹299₹99970% off\nFree delivery', '₹719₹89920% off\nFree delivery', '₹499₹2,22577% off\nFree delivery', '₹1,039₹1,29920% off\nFree delivery', '₹949₹1,99952% off\nFree delivery', '₹799₹1,19933% off\nFree delivery', '₹207₹99979% off\nFree delivery', '₹749₹1,99962% off\nFree delivery', '₹1,415₹1,99929% off\nFree delivery', '₹252₹2,59990% off\nFree delivery', '₹290₹1,99985% off\nFree delivery', '₹279₹1,59982% off\nFree delivery', '₹664₹1,99966% off\nFree delivery', '₹399₹1,99980% off\nFree delivery', '₹499₹1,99975% off\nFree delivery', '₹199₹99980% off\nFree delivery', '₹949₹1,99952% off\nFree delivery', '₹279₹1,59982% off\nFree delivery', '₹199₹99980% off\nFree delivery', '₹349₹1,99982% off\nFree delivery', '₹999₹1,99950% off\nFree delivery', '₹329₹1,59979% off\nFree delivery', '₹529₹2,09974% off\nFree delivery', '₹664₹1,99966% off\nFree delivery', '₹629₹99937% off\nFree delivery', '₹664₹1,99966% off\nFree delivery', '₹235₹99876% off\nFree delivery', '₹299₹2,49988% off\nFree delivery', '₹278₹1,20076% off\nFree delivery', '₹359₹2,59986% off\nFree delivery', '₹3,890\nFree delivery', '₹498₹1,52567% off\nFree delivery', '₹236₹69966% off\nFree delivery', '₹189₹1,29985% off\nFree delivery', '₹949₹2,50062% off\nFree delivery', '₹269₹1,89985% off\nFree delivery', '₹345₹99965% off\nFree delivery', '₹170₹79978% off\nFree delivery', '₹949₹1,99952% off\nFree delivery', '₹498₹1,52567% off\nFree delivery', '₹3,325₹5,00033% off\nFree delivery', '₹639₹79920% off\nFree delivery', '₹219₹99978% off\nFree delivery', '₹664₹1,49955% off\nFree delivery', '₹179₹99982% off\nFree delivery', '₹369₹1,99981% off\nFree delivery', '₹949₹1,99952% off\nFree delivery', '₹599₹3,44982% off\nFree delivery', '₹949₹1,99952% off\nFree delivery', '₹639₹79920% off\nFree delivery', '₹1,169₹1,29910% off\nFree delivery', '₹399₹99960% off\nFree delivery', '₹2,500₹5,00050% off\nFree delivery', '₹195₹1,69988% off\nFree delivery', '₹679₹79915% off\nFree delivery', '₹279₹1,59982% off\nFree delivery', '₹1,229₹1,99938% off\nFree delivery', '₹230₹99976% off\nFree delivery', '₹710₹89921% off\nFree delivery', '₹288₹1,49980% off\nFree delivery', '₹2,375₹6,00060% off\nFree delivery', '₹379₹1,49974% off\nFree delivery', '₹269₹1,29979% off\nFree delivery', '₹324₹1,69980% off\nFree delivery', '₹3,500₹4,50022% off\nFree delivery']
160

In [58]:
df=pd.DataFrame({'Brand':brand, 'Product Description':prod_description, 'Price':price})
df.head(100)

,Brand,Product Description,Price
0,Haute Sauce,UV Protection Retro Square Sunglasses (55),₹226₹69967% off\nFree delivery
1,Floyd,"UV Protection, Night Vision, Riding Glasses Re...","₹1,301₹8,00083% off\nFree delivery"
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799₹99920% off
3,New Specs,UV Protection Rectangular Sunglasses (Free Size),"₹264₹2,59989% off\nFree delivery"
4,Elligator,UV Protection Round Sunglasses (54),"₹298₹2,49588% off"
...,...,...,...
95,john jacobs,"by Lenskart Polarized, UV Protection Cat-eye S...",₹299₹99970% off\nFree delivery
96,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719₹89920% off\nFree delivery
97,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),"₹499₹2,22577% off\nFree delivery"
98,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,039₹1,29920% off\nFree delivery"
99,hipe,"by Lenskart Polarized, UV Protection Aviator S...","₹949₹1,99952% off\nFree delivery"

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [169]:
driver.get('https://www.flipkart.com/')

In [170]:
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('iphone 11')

In [173]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [174]:
product_enter=driver.find_element(By.CLASS_NAME,'_4rR01T')
product_enter.click()

In [175]:
driver.switch_to.window(driver.window_handles[1])

In [176]:
tab_turner=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div')
tab_turner.click()

In [178]:

rating=[]
start=0
end=10
for page in range(start,end):
    rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags[0:100]:
        rating.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(1)

print(rating)
print(len(rating))

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4']
100

In [179]:
review=[]
start=0
end=10
for page in range(start,end):
    review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_tags[0:100]:
        review.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(1)
print(review)
print(len(review))

['Highly recommended', 'Perfect product!', 'Perfect product!', 'Worth every penny', 'Perfect product!', 'Perfect product!', 'Terrific', 'Wonderful', 'Worth every penny', 'Classy product', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Highly recommended', 'Good choice', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Highly recommended', 'Good choice', 'Highly recommended', 'Perfect product!', 'Perfect product!', 'Worth every penny', 'Perfect product!', 'Perfect product!', 'Terrific', 'Wonderful', 'Worth every penny', 'Classy product', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Highly recommended', 'Good choice', 'Highly recommended', 'Perfect product!', 'Perfect product!', 'Worth every penny', 'Perfect product!', 'Perfect product!', 'Terrific', 'Wonderful', 'Worth every penny', 'Classy product', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Highly recommended', 'Good choice', 'Highly recommended', 'Perfect product!', 'Perfect product!', 'Worth every penny', 'Perfect product!', 'Perfect product!', 'Terrific', 'Wonderful', 'Worth every penny', 'Classy product', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Highly recommended', 'Worth every penny', 'Fabulous!', 'Great product', 'Worth every penny', 'Highly recommended', 'Good choice', 'Highly recommended', 'Perfect product!', 'Perfect product!', 'Worth every penny', 'Perfect product!', 'Perfect product!', 'Terrific', 'Wonderful', 'Worth every penny', 'Classy product']
100

In [180]:
review_summary=[]
start=0
end=10
for next in range(start,end):
    summary=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in summary[0:100]:
        review_summary.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(1)
        
print(review_summary)
print(len(review_summary))

['Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.', 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .', 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE', 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow', 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE', 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.', 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE', 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..', "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯", 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome', 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !', 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE', 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11', 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.', 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one', "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.", 'Really worth of money. i just love it. It is the best phone ever.', 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.', 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE', 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤', 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !', 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE', 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11', 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.', 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one', "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.", 'Really worth of money. i just love it. It is the best phone ever.', 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.', 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE', 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤', 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !', 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE', 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11', 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.', 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one', "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.", 'Really worth of money. i just love it. It is the best phone ever.', 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.', 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE', 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤', 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !', 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE', 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11', 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.', 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one', "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.", 'Really worth of money. i just love it. It is the best phone ever.', 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.', 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE', 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤', 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.', 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .', 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE', 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow', 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE', 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.', 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE', 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..', "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯", 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome', 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !', 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then

In [181]:
df=pd.DataFrame({'Rating':rating, 'Review':review, 'Review Full Summary':review_summary})
df.head(100)

,Rating,Review,Review Full Summary
0,5,Highly recommended,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Perfect product!,Great iPhone very snappy experience as apple k...
3,5,Worth every penny,What a camera .....just awesome ..you can feel...
4,5,Perfect product!,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Perfect product!,This is my first iOS phone. I am very happy wi...
96,5,Terrific,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Wonderful,"i11 is worthy to buy, too much happy with the ..."
98,5,Worth every penny,It's my first time to use iOS phone and I am l...
99,4,Classy product,So far it’s been an AMAZING experience coming ...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.

In [182]:
driver.get('https://www.flipkart.com/')

In [183]:
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('sneakers')

In [184]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [186]:
brand=[]
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags[0:100]:
        brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)
print(brand)
print(len(brand))
#df=pd.DataFrame({'Brand':brand})
#df.head(100)

['Bonexy', 'ROCKFIELD', 'Layasa', 'ONECENTRE', 'Layasa', 'PUMA', 'Deals4you', 'Rontex', 'KWIK FIT', 'aadi', 'Labbin', 'Spazer', 'Robbie jones', 'Layasa', 'HOTSTYLE', 'RapidBox', 'Chevit', 'Magnolia', 'PUMA', 'Bonexy', "LEVI'S", 'Kzaara', 'RED TAPE', 'RapidBox', 'aadi', 'Magnolia', 'AMICO', 'Red Rose', 'Robbie jones', 'Shoes Bank', 'ROCKFIELD', 'ROCKFIELD', 'LuvShus', 'PUMA', 'Deals4you', 'FAUSTO', 'BRUTON', 'RED TAPE', 'Sparx', 'RapidBox', 'Creer', 'Rzisbo', 'Robbie jones', 'Chevit', 'Layasa', 'Sparx', 'bacca bucci', 'Roadster', 'PUMA', 'Numenzo', 'AMICO', 'Magnolia', 'PUMA', 'PUMA', 'BRUTON', 'Sparx', 'U.S. POLO ASSN.', 'HOTSTYLE', 'BRUTON', 'D-SNEAKERZ', 'Kraasa', 'Chevit', 'Layasa', 'URBANBOX', 'Xtoon', 'Roadster', 'VENDOZ', 'Chevit', 'Sparx', 'Deals4you', 'Noztile', 'SCATCHITE', 'RED TAPE', 'PUMA', 'ROCKFIELD', 'PUMA', 'Xtoon', 'Kzaara', 'Skechers', 'Chevit', 'Bonexy', 'ROCKFIELD', 'Layasa', 'ONECENTRE', 'Layasa', 'PUMA', 'Deals4you', 'Rontex', 'KWIK FIT', 'aadi', 'Labbin', 'Spazer', 'Magnolia', 'Robbie jones', 'Layasa', 'RapidBox', 'HOTSTYLE', 'Chevit', 'PUMA', 'Bonexy', "LEVI'S", 'RED TAPE', 'Kzaara', 'RapidBox', 'aadi', 'Magnolia', 'AMICO', 'Red Rose', 'Robbie jones', 'Shoes Bank', 'ROCKFIELD', 'ROCKFIELD', 'LuvShus', 'PUMA', 'Deals4you', 'FAUSTO', 'BRUTON', 'RED TAPE', 'ASTEROID', 'RapidBox']
120

In [193]:
prod_desc=[]
start=0
end=3
for page in range(start,end):
    prod_tags=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
    for i in prod_tags[0:100]:
        prod_desc.append(i.text.replace('\n',''))
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(1)
#df1=pd.DataFrame({'Product Description':prod_desc})
#df1.head(100)
print(prod_desc)
print(len(prod_desc))

['SparxMen White Sneakers Sneakers For Men₹707₹83915% offSize 6, 7, 8, 9, 10', 'RzisboSneakers For Men₹458₹99954% offLowest Price in 15 daysSize 6, 7, 8, 9, 10', 'Robbie jonesSneakers For Men₹449₹99955% offFree deliveryHot Deal', 'BonexySneakers For Men₹509₹1,49966% offSize 6, 7, 8, 9, 10', 'LayasaSneakers For Women₹499₹99950% offSize 3, 4, 5, 6, 7', 'ChevitSneakers For Men₹239₹79970% offFree delivery', 'RoadsterSneakers For Men₹959₹3,29970% offFree deliveryHot Deal', 'OZJIFabric Ankle Boots Sneakers For Men₹720₹2,29968% offFree delivery', 'PUMAPuma Smash Vulc Sneakers For Men₹2,014₹3,79946% offFree delivery', 'Numenzo411 Casual Sneakers For Men₹396₹99960% offFree deliverySale Price Live', 'bacca bucciYODDHA High top elevated high Street Fashion Sneakers w...₹1,999₹3,99950% offFree delivery', 'BonexySneakers For Men₹509₹1,49966% offFree delivery', 'AMICOSneakers For Men₹466₹99953% offFree delivery', 'MagnoliaSneakers For Men₹474₹99952% offFree delivery', 'PUMAPuma Rebound LayUp SL Sneakers For Men₹2,599₹4,99948% offFree delivery', 'Deals4youSneakers For Men₹374₹99962% offFree deliveryLowest Price in 15 days', 'PUMAPuma Smash Wns v2 L Sneakers For Women₹1,555₹3,49955% offFree deliveryHot Deal', 'BRUTONModern Trendy Sneakers Shoes Sneakers For Men₹566₹1,29956% offFree deliveryHot Deal', 'SparxSM-747 Sneakers For Men₹764₹89915% offFree delivery', 'TrendWalkSneaker for men Black Sneakers For Men₹549₹1,99972% offFree delivery', 'U.S. POLO ASSN.PANAL Sneakers For Men₹1,499₹2,99950% offFree deliveryHot Deal', 'CreerSneakers For Men₹298₹1,29977% offSize 6, 7, 8, 9, 10', 'HOTSTYLESneakers For Men₹283₹99871% offFree deliveryHot Deal', 'BonexySneakers For Men₹424₹99957% offFree delivery', 'BRUTONModern Trendy Sneakers Shoes Sneakers For Men₹299₹1,29976% offFree deliveryHot Deal', 'KraasaCasuals, Canvas, Partywear Sneakers For Men₹479₹99952% offFree deliveryHot Deal', "D-SNEAKERZCasual , Partywear Sneakers Shoes For Men's And Boys Wh...₹296₹65955% offFree delivery", 'Robbie jonesCasual Sneakers Black Outdoor Shoes For Boys And Men Sn...₹509₹99949% offFree delivery', 'LayasaSneakers For Men₹479₹99952% offSize 6, 7, 8, 9, 10', 'ChevitUnique & Perfect Collection Combo Pack of 02 Shoes for ...₹489₹1,49867% offEOSS', 'URBANBOXSneakers Sneakers For Men₹198₹99980% off', 'VENDOZStylish Casual Sports Shoe Sneakers For Women₹474₹99952% offFree delivery', 'XtoonModern Trendy Sneakers boot Sneakers For Men₹424₹1,49971% offFree deliveryLowest Price in 15 days', 'RoadsterSneakers For Men₹1,149₹3,19964% offBuy 2 items, save extra 5%Size 6, 7, 8, 9, 10, 11', 'Deals4youSneakers For Women₹393₹99960% offFree deliveryLowest price since launch', 'RontexSneakers For Men₹699₹1,59956% offFree delivery', "ChevitLatest Women's Pack of 2 Stylish Slip-On Loafers, Lace-...₹327₹1,59879% offFree delivery", 'SparxSneakers For Men₹709₹83915% offFree delivery', 'PUMAx 1DER Rock V2 Sneakers For Men₹3,149₹4,49930% offFree delivery', 'VENDOZCNV6012WT Sneakers For Women₹474₹99952% offFree delivery', 'VENDOZStylish Casual Sports Shoe Sneakers For Women₹474₹99952% offSize 3, 4, 5, 6, 7, 8', 'ROCKFIELDSneakers For Men₹509₹1,59968% offFree delivery', 'Layasasupr Sneakers For Men₹199₹99980% offSize 6, 7, 8, 9, 10', 'ONECENTRESTR2 Sneakers For Men₹299₹60050% offFree delivery', 'PUMAPuma Smash v2 L Sneakers For Men₹1,854₹3,49947% offHot Deal', 'Deals4youSneakers For Women₹394₹99960% offBuy 2 items, save extra 5%', 'LayasaSneakers For Men₹399₹99960% offLowest Price in 15 days', 'Red RoseSneakers For Men₹499Free delivery', 'KWIK FITKwik FIT casual sneaker shoes and partywear shoes Casua...₹397₹1,99980% offFree delivery', 'aadiMesh | Ultralightweight | Comfortable | Breathable Walk...₹374₹1,99981% offFree delivery', 'LabbinSneakers For Men₹499₹99950% offFree delivery', 'Old SkoolVans Old Skool Persian Black Sneakers For Men₹1,800₹3,99954% offFree delivery', 'MagnoliaSneakers For Men₹354₹99964% offHot DealSize 6, 7, 8, 9, 10', 'Robbie jonesCasual Sneakers Black Outdoor Shoes For Boys And Men Sn...₹509₹99949% offFree delivery', 'Layasasupr Sneakers For Men₹179₹99982% offFree deliveryHot Deal', 'ROCKFIELDSneakers For Men₹424₹99957% offFree delivery', 'HOTSTYLESneakers Sneakers For Men₹283₹49943% offFree deliveryHot Deal', 'ChevitSuper Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...₹544₹1,89871% offEOSSSize 6, 7, 8, 9, 10', 'PUMASmash Wns v2 L Sneakers For Women₹1,645₹3,49952% offFree deliveryBuy 2 items, save extra 5%', 'ChevitCombo Pack of 4 Casual & Sports Shoes (Loafers Shoes) S...₹845₹1,99657% offFree deliveryEOSS', "LEVI'SLevi's Men's Lancer Sneakers Sneakers For Men₹1,439₹3,19955% offFree delivery", 'KzaaraSneakers For Men₹259₹99974% offFree delivery', 'aadiSneakers For Men₹351₹99964% offFree deliveryHot Deal', 'Robbie jonesCasual Sneakers Outdoor White Shoes For Boys And Men Sn...₹509₹99949% offFree delivery', 'RED TAPESneakers For Men₹1,299₹5,19975% offFree deliverySale Price Live', 'MagnoliaSneakers For Men₹374₹99962% offHot DealSize 6, 7, 8, 9, 10', 'AMICOSneakers For Men₹466₹99953% offFree deliveryHot Deal', 'FAUSTOTrendy Sneakers For Men₹687₹89923% offFree deliveryDeal of the Day', 'Robbie jonesCasual Sneakers Canvas Shoes For Men Sneakers For Men₹449₹99955% offFree deliveryHot Deal', 'ROCKFIELDSneakers For Men₹299₹99970% offFree delivery', "Shoes BankWhite Sneaker For Men's/Boy's Sneakers For Men₹297₹99970% offSize 6, 7, 8, 9, 10", 'FAUSTOTrendy Sneakers For Men₹687₹89923% offFree deliveryDeal of the Day', 'LuvShusMen Casual Shoe New Trend With Fashion Panda Desgined L...₹410₹99958% offFree delivery', 'PUMAPuma Smash v2 Sneakers For Men₹2,085₹4,99958% offSize 6, 7, 8, 9, 10, 11', 'Deals4youSneakers For Women₹449₹1,49970% offFree deliveryLowest Price in 15 days', 'FAUSTOSneakers For Men₹993₹1,29923% offFree deliveryDeal of the Day', 'BRUTONSneaker Sneakers For Men₹299₹1,29976% offFree deliveryHot Deal', 'RED TAPESneakers For Men₹1,399₹4,99972% offSize 6, 7, 8, 9, 10, 11', "ASTEROIDOriginal Luxury Branded Fashionable Men's Casual Walkin...₹499₹1,99975% offFree delivery", 'FAUSTOTrendy Lace Up Sneakers For Men₹993₹1,29923% offFree deliveryDeal of the Day', 'SparxMen White Sneakers Sneakers For Men₹707₹83915% offSize 6, 7, 8, 9, 10', 'RzisboSneakers For Men₹458₹99954% offLowest Price in 15 daysSize 6, 7, 8, 9, 10', 'Robbie jonesSneakers For Men₹449₹99955% offFree deliveryHot Deal', 'BonexySneakers For Men₹509₹1,49966% offSize 6, 7, 8, 9, 10', 'LayasaSneakers For Women₹499₹99950% offSize 3, 4, 5, 6, 7', 'ChevitSneakers For Men₹239₹79970% offFree delivery', 'RoadsterSneakers For Men₹959₹3,29970% offFree deliveryHot Deal', 'OZJIFabric Ankle Boots Sneakers For Men₹720₹2,29968% offFree delivery', 'PUMAPuma Smash Vulc Sneakers For Men₹2,014₹3,79946% offFree delivery', 'Numenzo411 Casual Sneakers For Men₹396₹99960% offFree deliverySale Price Live', 'bacca bucciYODDHA High top elevated high Street Fashion Sneakers w...₹1,999₹3,99950% offFree delivery', 'BonexySneakers For Men₹509₹1,49966% offFree delivery', 'AMICOSneakers For Men₹466₹99953% offFree delivery', 'MagnoliaSneakers For Men₹474₹99952% offFree delivery', 'PUMAPuma Rebound LayUp SL Sneakers For Men₹2,599₹4,99948% offFree delivery', 'Deals4youSneakers For Men₹374₹99962% offFree deliveryLowest Price in 15 days', 'PUMAPuma Smash Wns v2 L Sneakers For Women₹1,555₹3,49955% offFree deliveryHot Deal', 'BRUTONModern Trendy Sneakers Shoes Sneakers For Men₹566₹1,29956% offFree deliveryHot Deal', 'SparxSM-747 Sneakers For Men₹764₹89915% offFree delivery', 'TrendWalkSneaker for men Black Sneakers For Men₹549₹1,99972% offFree delivery', 'U.S. POLO ASSN.PANAL Sneakers For Men₹1,499₹2,99950% offFree deliveryHot Deal', 'CreerSneakers For Men₹298₹1,29977% offSize 6, 7, 8, 9, 10', 'HOTSTYLESneakers For Men₹283₹99871% offFree deliveryHot Deal', 'ROCKFIELDSneakers For Men₹594₹1,59962% offSize 6, 7, 8, 9, 10', 'BRUTONModern Trendy Sneakers Shoes Sneakers For Men₹299₹1,29976% offFree deliveryHot Deal', 'KraasaCasuals, Canvas, Partywear Sneakers For Men₹479₹99952% offFree deliveryHot Deal', "D-SNEAKERZCasual , Partywear Sneakers Shoes For Men's And Boys Wh...₹296₹65955% offFree delivery", 'BonexySneakers For Men₹424₹99957% offFree delivery', 'LayasaSneakers For Men₹479₹99952% offSize 6, 7, 8, 9, 10', 'ChevitUnique & Perfect Collection Combo Pack of 02 Shoes for ...₹489₹1,49867% offEOSS', 'URBANBOXSneakers Sneakers For Men₹198₹99980% off', 'Robbie jonesCasual Sneakers Black Outdoor Shoes For Boys And Men Sn...₹509₹99949% offFree delivery', 'XtoonModern Trendy Sneakers boot Sneakers For Men₹424₹1,49971% offFree deliveryLowest Price in 15 days', 'RoadsterSneakers For Men₹1,149₹3,19964% offBuy 2 items, save extra 5%Size 6, 7, 8, 9, 10, 11', 'Deals4youSneakers For Women₹393₹99960% offFree deliveryLowest price since launch', 'VENDOZStylish Casual Sports Shoe Sneakers For Women₹474₹99952% offFree delivery', "ChevitLatest Women's Pack of 2 Stylish Slip-On Loafers, Lace-...₹327₹1,59879% offFree delivery", 'SparxSneakers For Men₹709₹83915% offFree delivery', 'PUMAx 1DER Rock V2 Sneakers For Men₹3,149₹4,49930% offFree delivery', 'RontexSneakers For Men₹699₹1,59956% offFree delivery']
120

In [195]:
price=[]
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags[0:100]:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
    
print(price)
print(len(price))

['₹707', '₹458', '₹449', '₹509', '₹499', '₹239', '₹959', '₹720', '₹2,014', '₹396', '₹1,999', '₹509', '₹466', '₹474', '₹2,599', '₹374', '₹1,555', '₹566', '₹764', '₹549', '₹1,499', '₹298', '₹283', '₹594', '₹299', '₹479', '₹296', '₹424', '₹479', '₹489', '₹198', '₹509', '₹424', '₹1,149', '₹393', '₹474', '₹327', '₹709', '₹3,149', '₹699', '₹474', '₹474', '₹199', '₹299', '₹1,854', '₹394', '₹399', '₹509', '₹397', '₹374', '₹499', '₹499', '₹354', '₹509', '₹179', '₹1,800', '₹283', '₹544', '₹1,645', '₹424', '₹1,439', '₹259', '₹351', '₹845', '₹1,299', '₹374', '₹466', '₹509', '₹449', '₹299', '₹297', '₹687', '₹410', '₹2,085', '₹449', '₹687', '₹299', '₹1,399', '₹499', '₹993', '₹707', '₹458', '₹449', '₹509', '₹499', '₹239', '₹959', '₹720', '₹2,014', '₹396', '₹1,999', '₹509', '₹466', '₹474', '₹2,599', '₹374', '₹1,555', '₹566', '₹764', '₹549', '₹1,499', '₹298', '₹283', '₹424', '₹299', '₹479', '₹296', '₹509', '₹479', '₹489', '₹198', '₹474', '₹424', '₹1,149', '₹393', '₹699', '₹327', '₹709', '₹3,149', '₹474']
120

In [196]:
df=pd.DataFrame({'Brand':brand, 'Product Description':prod_desc, 'Price with discount':price})
df.head(100)

,Brand,Product Description,Price with discount
0,Bonexy,SparxMen White Sneakers Sneakers For Men₹707₹8...,₹707
1,ROCKFIELD,RzisboSneakers For Men₹458₹99954% offLowest Pr...,₹458
2,Layasa,Robbie jonesSneakers For Men₹449₹99955% offFre...,₹449
3,ONECENTRE,"BonexySneakers For Men₹509₹1,49966% offSize 6,...",₹509
4,Layasa,"LayasaSneakers For Women₹499₹99950% offSize 3,...",₹499
...,...,...,...
95,RapidBox,Deals4youSneakers For Men₹374₹99962% offFree d...,₹374
96,HOTSTYLE,"PUMAPuma Smash Wns v2 L Sneakers For Women₹1,5...","₹1,555"
97,Chevit,BRUTONModern Trendy Sneakers Shoes Sneakers Fo...,₹566
98,PUMA,SparxSM-747 Sneakers For Men₹764₹89915% offFre...,₹764
99,Bonexy,TrendWalkSneaker for men Black Sneakers For Me...,₹549

# Q8: Go to webpage https://www.amazon.in/

In [59]:
driver.get('https://www.amazon.in/')

In [60]:
prod_name=driver.find_element(By.XPATH,'//input[@type="text"]')
prod_name.send_keys('Laptop')

In [61]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [62]:
cpu_filter=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[12]/span/a/span')
cpu_filter.click()

In [63]:
title=[]
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    title.append(i.text)
print(title)
print(len(title))

['Acer Predator Helios 500 Gaming Laptop (11Th Gen Intel Core I9/17.3 Inches 4K Uhd Display/64Gb Ddr4 Ram/2Tb Ssd/1Tb HDD/RTX 3080 Graphics/Windows 10 Home/Per Key RGB Backlit Keyboard) Ph517-52', 'Acer Predator Helios 300 11Th Gen Intel Core I9-11900H 15.6 Inches (39.62Cms) Fhd Ips Gaming Laptop (16 Gb/1Tb Ssd/Windows 11 Home/6 Gb Graphics/Nvidia Geforce Rtx 3060/360 Hz, Black, 2.3 Kg) Ph315-54', 'ASUS ROG Flow Z13 (2022), 13.4" (34.03 cms) UHD+ 16:10 Touch, Core i9-12900H 12th Gen, RTX 3050 Ti 4GB Graphics, 2-in-1 Gaming Laptop (16GB/1TB SSD/Win 11/Office 2021/Black/1.18 kg), GZ301ZE-LC192WS', 'Asus Rog Strix Scar 15 (2022) 15.6 Inches 2K Wqhd 240Hz/3Ms Intel Core I9-12900H 12Th Gen Rtx 3070 Ti 8Gb Graphics, Gaming Laptop (32Gb/1Tb Ssd/Windows 11 Home/Office 2021/Black/2.3 Kg) G533Zw-Ln136Ws', 'ASUS ROG Flow Z13 (2022), 13.4" (34.03 cms) UHD+ 16:10 Touch, Core i9-12900H 12th Gen, RTX 3050 Ti 4GB Graphics, 2-in-1 Gaming Laptop (16GB/1TB SSD/Win 11/Office 2021/Black/1.18 kg), GZ301ZE-LC193WS', 'ASUS ROG Strix Scar III G531GW 15.6" FHD 240Hz Gaming Laptop RTX 2070 8GB Graphics (Core i9-9880H 9th Gen/32GB RAM/1TB PCIe SSD/Windows 10/Scar Gunmetal/2.57 Kg), G531GW-AZ113T', 'Hp Envy 15- 11Th Gen Intel Core I9/32Gb/1Tb Ssd/15.6 Inches 400 Nits,4K Amoled Touch, Tuv + Windows 11 Pro 64/Nvidia Geforce RTX 3060 6Gb Graphics/Alexa/Fpr /B&O/2.14Kg,15-Ep1087Tx, Natural Silver', 'Asus Rog Strix Scar 15 (2022) 15.6 Inches 2K Wqhd 240Hz/3Ms Intel Core I9-12900H 12Th Gen RTX 3070 Ti 8Gb Graphics Gaming Laptop (32Gb/2Tb Ssd/Windows 11 Home/Office 2021/Black/2.3 Kg) G533Zw-Ln106Ws', 'ASUS ROG Strix Scar 17 (2022), 17.3-inch (43.94 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2.9 Kg), G733ZW-LL105WS', 'ASUS ROG Flow Z13 (2022), 13.4" (34.03 cms) FHD+ 16:10, 120Hz Touch, Core i9 12th Gen, RTX 3050 Ti 4GB Graphics, 2-in-1 Gaming Laptop (16GB/1TB SSD/Win 11/Office 2021/Black/1.18 kg), GZ301ZE-LD064WS']
10

In [64]:
rating=[]
rating_tags=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-small a-spacing-top-small"]')
for i in rating_tags[0:10]:
    rating.append(i.text)
print(rating)
print(len(rating))

['13 results for "Laptop"', 'Acer Predator Helios 500 Gaming Laptop (11Th Gen Intel Core I9/17.3 Inches 4K Uhd Display/64Gb Ddr4 Ram/2Tb Ssd/1Tb HDD/RTX 3080 Graphics/Windows 10 Home/Per Key RGB Backlit Keyboard) Ph517-52\n3\n-16%\n₹3,79,990\n₹4,49,999\nGet it by Saturday, August 20\nFREE Delivery by Amazon\nOnly 2 left in stock.', 'Acer Predator Helios 300 11Th Gen Intel Core I9-11900H 15.6 Inches (39.62Cms) Fhd Ips Gaming Laptop (16 Gb/1Tb Ssd/Windows 11 Home/6 Gb Graphics/Nvidia Geforce Rtx 3060/360 Hz, Black, 2.3 Kg) Ph315-54\n18\n-18%\n₹1,39,990\n₹1,69,999\nSave extra with No Cost EMI\nGet it by Saturday, August 20\nFREE Delivery by Amazon\nMore Buying Choices\n₹1,39,800(3 new offers)', 'ASUS ROG Flow Z13 (2022), 13.4" (34.03 cms) UHD+ 16:10 Touch, Core i9-12900H 12th Gen, RTX 3050 Ti 4GB Graphics, 2-in-1 Gaming Laptop (16GB/1TB SSD/Win 11/Office 2021/Black/1.18 kg), GZ301ZE-LC192WS\n-20%\n₹1,91,990\n₹2,40,990\nNo Cost EMI available on select cards.\nGet it by Saturday, August 20\nFREE Delivery by Amazon\nOnly 1 left in stock.', 'Asus Rog Strix Scar 15 (2022) 15.6 Inches 2K Wqhd 240Hz/3Ms Intel Core I9-12900H 12Th Gen Rtx 3070 Ti 8Gb Graphics, Gaming Laptop (32Gb/1Tb Ssd/Windows 11 Home/Office 2021/Black/2.3 Kg) G533Zw-Ln136Ws\n4\n-13%\n₹2,38,960\n₹2,75,990\nGet it by Sunday, August 21\nFREE Delivery by Amazon\nOnly 1 left in stock.\nMore Buying Choices\n₹2,38,840(2 new offers)', 'ASUS ROG Flow Z13 (2022), 13.4" (34.03 cms) UHD+ 16:10 Touch, Core i9-12900H 12th Gen, RTX 3050 Ti 4GB Graphics, 2-in-1 Gaming Laptop (16GB/1TB SSD/Win 11/Office 2021/Black/1.18 kg), GZ301ZE-LC193WS\n2\n-17%\n₹3,21,990\n₹3,89,990\nSave ₹500 with coupon\nGet it by Friday, August 19\nFREE Delivery by Amazon', 'ASUS ROG Strix Scar III G531GW 15.6" FHD 240Hz Gaming Laptop RTX 2070 8GB Graphics (Core i9-9880H 9th Gen/32GB RAM/1TB PCIe SSD/Windows 10/Scar Gunmetal/2.57 Kg), G531GW-AZ113T\n2\n-38%\n₹1,99,990\n₹3,24,990\nSave ₹1,500 with coupon\nGet it by Sunday, August 21\nFREE Delivery by Amazon\nOnly 1 left in stock.', 'Hp Envy 15- 11Th Gen Intel Core I9/32Gb/1Tb Ssd/15.6 Inches 400 Nits,4K Amoled Touch, Tuv + Windows 11 Pro 64/Nvidia Geforce RTX 3060 6Gb Graphics/Alexa/Fpr /B&O/2.14Kg,15-Ep1087Tx, Natural Silver\n3\n-19%\n₹1,99,990\n₹2,45,429\nGet it by Friday, August 19\nFREE Delivery by Amazon\nAlexa Built-in', 'Asus Rog Strix Scar 15 (2022) 15.6 Inches 2K Wqhd 240Hz/3Ms Intel Core I9-12900H 12Th Gen RTX 3070 Ti 8Gb Graphics Gaming Laptop (32Gb/2Tb Ssd/Windows 11 Home/Office 2021/Black/2.3 Kg) G533Zw-Ln106Ws\n1\n-14%\n₹2,73,300\n₹3,17,990\nGet it by Sunday, August 21\nFREE Delivery by Amazon\nOnly 1 left in stock.', 'ASUS ROG Strix Scar 17 (2022), 17.3-inch (43.94 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2.9 Kg), G733ZW-LL105WS\n4\n-25%\n₹2,61,990\n₹3,50,990\nGet it by Saturday, August 20\nFREE Delivery by Amazon\nOnly 1 left in stock.']
10

In [65]:
price=[]
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price.append(i.text)
print(price)
print(len(price))

['3,79,990', '1,39,990', '1,91,990', '2,38,960', '3,21,990', '1,99,990', '1,99,990', '2,73,300', '2,61,990', '1,81,990']
10

In [66]:
url=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
url[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ae70a988c8f1b8cf2d282e37ab1c11e9", element="5f5d854a-28f6-454b-9248-ea75adbc24e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae70a988c8f1b8cf2d282e37ab1c11e9", element="0f352f84-0043-4741-ac69-244eeee52718")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae70a988c8f1b8cf2d282e37ab1c11e9", element="70134880-7adf-4064-aca2-087b5fa2aba1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae70a988c8f1b8cf2d282e37ab1c11e9", element="eb1f8322-e4be-4f8a-9945-965a71376175")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae70a988c8f1b8cf2d282e37ab1c11e9", element="08e6e57d-5fc6-440e-9967-6b3fa57dbbc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae70a988c8f1b8cf2d282e37ab1c11e9", element="75617f8d-ad8c-4025-995a-ab93b5eb43bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae70a988c8f1b8cf2d282e37ab1c11e9", element="a1db530d-c2ad-4d7d-b2f9-f7a3ce4c16cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae70a988c8f1b8cf2d282e37ab1c11e9", element="bc4feeb2-4e05-4def-a7c3-17cf8def829d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae70a988c8f1b8cf2d282e37ab1c11e9", element="a7d4976c-8d49-4407-a01c-486d889ef6ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae70a988c8f1b8cf2d282e37ab1c11e9", element="8f17379e-9cdb-49a7-8968-27029598f2f1")>]

In [67]:
for i in url[0:10]:
    data=i.get_attribute('href')
    print(data)

https://www.amazon.in/Acer-Predator-Graphics-Keyboard-Ph517-52/dp/B09W99QWTD/ref=sr_1_1?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-1
https://www.amazon.in/Acer-Predator-I9-11900H-39-62Cms-Graphics/dp/B09TDLM9BT/ref=sr_1_2?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-2
https://www.amazon.in/ASUS-Flow-13-4-34-03-GZ301ZE-LC192WS/dp/B0B3DNP17D/ref=sr_1_3?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-3
https://www.amazon.in/Inches-I9-12900H-Graphics-Windows-G533Zw-Ln136Ws/dp/B09X5ND3MF/ref=sr_1_4?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-4
https://www.amazon.in/ASUS-Flow-13-4-34-03-GZ301ZE-LC193WS/dp/B0B3DTYPMN/ref=sr_1_5?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-5
https://www.amazon.in/Graphics-i9-9880H-Windows-Gunmetal-G531GW-AZ113T/dp/B07RRQ926L/ref=sr_1_6?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-6
https://www.amazon.in/Windows-Geforce-Graphics-15-Ep1087Tx-Natural/dp/B09VGTJJ2C/ref=sr_1_7?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-7
https://www.amazon.in/I9-12900H-Graphics-Windows-Office-2021-G533Zw-Ln106Ws/dp/B09TPHM8WK/ref=sr_1_8?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-8
https://www.amazon.in/ASUS-17-3-inch-i9-12900H-Office-2021-G733ZW-LL105WS/dp/B09TPHF98V/ref=sr_1_9?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-9
https://www.amazon.in/ASUS-Flow-13-4-34-03-GZ301ZE-LD064WS/dp/B0B3DQHFBJ/ref=sr_1_10?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-10

In [68]:
data=[]
for j in url[0:10]:
    data.append(j.get_attribute('href'))
    
print(data)
print(len(data))

['https://www.amazon.in/Acer-Predator-Graphics-Keyboard-Ph517-52/dp/B09W99QWTD/ref=sr_1_1?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-1', 'https://www.amazon.in/Acer-Predator-I9-11900H-39-62Cms-Graphics/dp/B09TDLM9BT/ref=sr_1_2?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-2', 'https://www.amazon.in/ASUS-Flow-13-4-34-03-GZ301ZE-LC192WS/dp/B0B3DNP17D/ref=sr_1_3?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-3', 'https://www.amazon.in/Inches-I9-12900H-Graphics-Windows-G533Zw-Ln136Ws/dp/B09X5ND3MF/ref=sr_1_4?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-4', 'https://www.amazon.in/ASUS-Flow-13-4-34-03-GZ301ZE-LC193WS/dp/B0B3DTYPMN/ref=sr_1_5?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-5', 'https://www.amazon.in/Graphics-i9-9880H-Windows-Gunmetal-G531GW-AZ113T/dp/B07RRQ926L/ref=sr_1_6?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-6', 'https://www.amazon.in/Windows-Geforce-Graphics-15-Ep1087Tx-Natural/dp/B09VGTJJ2C/ref=sr_1_7?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-7', 'https://www.amazon.in/I9-12900H-Graphics-Windows-Office-2021-G533Zw-Ln106Ws/dp/B09TPHM8WK/ref=sr_1_8?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-8', 'https://www.amazon.in/ASUS-17-3-inch-i9-12900H-Office-2021-G733ZW-LL105WS/dp/B09TPHF98V/ref=sr_1_9?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-9', 'https://www.amazon.in/ASUS-Flow-13-4-34-03-GZ301ZE-LD064WS/dp/B0B3DQHFBJ/ref=sr_1_10?crid=3RPL4AAZ44T9V&keywords=Laptop&qid=1660660805&refinements=p_n_feature_thirteen_browse-bin%3A16757432031&rnid=12598141031&s=computers&sprefix=laptop%2Caps%2C704&sr=1-10']
10

In [69]:
df=pd.DataFrame({'Title':title,'Price':price, 'Ratings':rating})
df

,Title,Price,Ratings
0,Acer Predator Helios 500 Gaming Laptop (11Th G...,"3,79,990","13 results for ""Laptop"""
1,Acer Predator Helios 300 11Th Gen Intel Core I...,"1,39,990",Acer Predator Helios 500 Gaming Laptop (11Th G...
2,"ASUS ROG Flow Z13 (2022), 13.4"" (34.03 cms) UH...","1,91,990",Acer Predator Helios 300 11Th Gen Intel Core I...
3,Asus Rog Strix Scar 15 (2022) 15.6 Inches 2K W...,"2,38,960","ASUS ROG Flow Z13 (2022), 13.4"" (34.03 cms) UH..."
4,"ASUS ROG Flow Z13 (2022), 13.4"" (34.03 cms) UH...","3,21,990",Asus Rog Strix Scar 15 (2022) 15.6 Inches 2K W...
5,"ASUS ROG Strix Scar III G531GW 15.6"" FHD 240Hz...","1,99,990","ASUS ROG Flow Z13 (2022), 13.4"" (34.03 cms) UH..."
6,Hp Envy 15- 11Th Gen Intel Core I9/32Gb/1Tb Ss...,"1,99,990","ASUS ROG Strix Scar III G531GW 15.6"" FHD 240Hz..."
7,Asus Rog Strix Scar 15 (2022) 15.6 Inches 2K W...,"2,73,300",Hp Envy 15- 11Th Gen Intel Core I9/32Gb/1Tb Ss...
8,"ASUS ROG Strix Scar 17 (2022), 17.3-inch (43.9...","2,61,990",Asus Rog Strix Scar 15 (2022) 15.6 Inches 2K W...
9,"ASUS ROG Flow Z13 (2022), 13.4"" (34.03 cms) FH...","1,81,990","ASUS ROG Strix Scar 17 (2022), 17.3-inch (43.9..."

# 9:# Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location.

In [42]:
driver.get('https://www.ambitionbox.com/')

In [43]:
job_click=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')
job_click.click()

In [44]:
designation=driver.find_element(By.XPATH,'//input[@title="Enter Designation, Company or a Skill"]')
designation.send_keys('Data Scientist')

In [45]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
search.click()

In [46]:
location_click=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location_click.click()

In [47]:
type_location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
type_location.send_keys('Noida')

In [48]:
select_location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select_location.click()

In [49]:
company=[]
company_tags=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in company_tags[0:10]:
    company.append(i.text)
print(company)
print(len(company))

['CBRE South Asia Pvt Ltd', 'Ericsson India Global Services Pvt. Ltd.', 'GENPACT India Private Limited', 'Optum Global Solutions (India) Private Limited', 'Optum Global Solutions (India) Private Limited', 'Ericsson India Global Services Pvt. Ltd.', 'SOPRA STERIA INDIA LIMITED', 'EXL Services.com ( I ) Pvt. Ltd.', 'EY', 'CARE HEALTH INSURANCE LIMITED']
10

In [53]:
rating=[]
rating_tags=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in rating_tags[0:10]:
    rating.append(i.text)
print(rating)
print(len(rating))

['4.3', '4.3', '4.0', '4.1', '4.1', '4.3', '4.2', '3.9', '3.8', '4.0']
10

In [67]:
days=[]
days_tags=driver.find_elements(By.XPATH,'//div[@class="other-info"]//span') 
for i in days_tags[0:10]:
    days.append(i.text.replace('via naukri.com','').split(','))
print(days)
print(len(days))

[['5d ago'], ['·'], [''], ['15d ago'], ['·'], [''], ['8d ago'], ['·'], [''], ['12d ago']]
10

In [68]:
df=pd.DataFrame({'Company Name':company, "Company's Rating":rating, 'Days Job Posted':days})
df

,Company Name,Company's Rating,Days Job Posted
0,CBRE South Asia Pvt Ltd,4.3,[5d ago]
1,Ericsson India Global Services Pvt. Ltd.,4.3,[·]
2,GENPACT India Private Limited,4.0,[]
3,Optum Global Solutions (India) Private Limited,4.1,[15d ago]
4,Optum Global Solutions (India) Private Limited,4.1,[·]
5,Ericsson India Global Services Pvt. Ltd.,4.3,[]
6,SOPRA STERIA INDIA LIMITED,4.2,[8d ago]
7,EXL Services.com ( I ) Pvt. Ltd.,3.9,[·]
8,EY,3.8,[]
9,CARE HEALTH INSURANCE LIMITED,4.0,[12d ago]

# Q10: Write a python program to scrape the salary data for Data Scientist designation

In [69]:
driver.get('https://www.ambitionbox.com/')

In [76]:
salary_option=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/a')
salary_option.click()

In [77]:
first_option=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div/div[2]/a')
first_option.click()

In [81]:
designation=driver.find_element(By.XPATH,'//input[@type="searchbox"]')
designation.send_keys('Data Scientist')

In [82]:
designation_click=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
designation_click.click()

In [88]:
company=[]
company_name=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in company_name[0:10]:
    company.append(i.text.split('\n')[0])
print(company)
print(len(company))

['Walmart', 'Ab Inbev', 'Optum', 'ZS', 'Fractal Analytics', 'Tiger Analytics', 'Legato Health Technologies', 'Tredence', 'UnitedHealth', 'Ford Motor']
10

In [91]:
salary_record=[]
salary_tags=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in salary_tags[0:10]:
    salary_record.append(i.text)
print(salary_record)
print(len(salary_record))

['(based on 22 salaries)', '(based on 53 salaries)', '(based on 48 salaries)', '(based on 33 salaries)', '(based on 109 salaries)', '(based on 65 salaries)', '(based on 11 salaries)', '(based on 12 salaries)', '(based on 91 salaries)', '(based on 21 salaries)']
10

In [92]:
avg_salary=[]
avg_tags=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_tags[0:10]:
    avg_salary.append(i.text)
print(avg_salary)
print(len(avg_salary))

['₹ 31.7L', '₹ 19.7L', '₹ 16.5L', '₹ 15.7L', '₹ 15.2L', '₹ 14.7L', '₹ 14.5L', '₹ 14.1L', '₹ 13.6L', '₹ 13.5L']
10

In [96]:
min_salary=[]
min_tags=driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
for i in min_tags[0:20]:
    min_salary.append(i.text.split('\n')[0])
print(min_salary)
print(len(min_salary))

['₹ 25.0L', '₹ 15.0L', '₹ 11.0L', '₹ 11.0L', '₹ 9.0L', '₹ 9.0L', '₹ 11.0L', '₹ 8.8L', '₹ 8.0L', '₹ 10.0L']
10

In [98]:
max_salary=[]
max_tags=driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
for i in max_tags[0:10]:
    max_salary.append(i.text.split('\n')[1])
print(max_salary)
print(len(max_salary))

['₹ 45.0L', '₹ 25.5L', '₹ 22.6L', '₹ 22.0L', '₹ 23.0L', '₹ 20.0L', '₹ 20.0L', '₹ 17.5L', '₹ 20.5L', '₹ 18.0L']
10

In [101]:
exp=[]
exp_tags=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in exp_tags[0:10]:
    exp.append(i.text.split('(')[0])
print(exp)
print(len(exp))

['3-4 yrs experience ', '2-4 yrs experience ', '2-4 yrs experience ', '1-2 yrs experience ', '2-4 yrs experience ', '2-4 yrs experience ', '4 yrs experience ', '3 yrs experience ', '2-4 yrs experience ', '3-4 yrs experience ']
10

In [102]:
df=pd.DataFrame({'Company Name':company, 'Total Salary Record':salary_record, 'Average Salary':avg_salary, 'Minimum Salary':min_salary, 'Maximum Salary':max_salary, 'Experience Required':exp})
df

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart,(based on 22 salaries),₹ 31.7L,₹ 25.0L,₹ 45.0L,3-4 yrs experience
1,Ab Inbev,(based on 53 salaries),₹ 19.7L,₹ 15.0L,₹ 25.5L,2-4 yrs experience
2,Optum,(based on 48 salaries),₹ 16.5L,₹ 11.0L,₹ 22.6L,2-4 yrs experience
3,ZS,(based on 33 salaries),₹ 15.7L,₹ 11.0L,₹ 22.0L,1-2 yrs experience
4,Fractal Analytics,(based on 109 salaries),₹ 15.2L,₹ 9.0L,₹ 23.0L,2-4 yrs experience
5,Tiger Analytics,(based on 65 salaries),₹ 14.7L,₹ 9.0L,₹ 20.0L,2-4 yrs experience
6,Legato Health Technologies,(based on 11 salaries),₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience
7,Tredence,(based on 12 salaries),₹ 14.1L,₹ 8.8L,₹ 17.5L,3 yrs experience
8,UnitedHealth,(based on 91 salaries),₹ 13.6L,₹ 8.0L,₹ 20.5L,2-4 yrs experience
9,Ford Motor,(based on 21 salaries),₹ 13.5L,₹ 10.0L,₹ 18.0L,3-4 yrs experience